body{
	margin: 0;
	padding: 0;
	background: url(BackgroundImage.webp);
	background-size: cover;
	background-position: center;
}
.design{
	width: 200px;
	height: 360px;
	padding: 20px;
	text-align: center;
	top: 10%;
	left: 40%;
	position: absolute;
	color: gold;
	border: 10px solid;
	border-style: ridge;
}
h1{
	text-align: center;
	color: gold;
	padding-right: 40px;
}