body{
	margin: 0px;
	border: 0px;
	padding: 0px;
	background-image: url("back.webp");
	background-repeat: no-repeat;
}
h1{
	text-align: center;
}
table{
	padding-left: 35%;
	padding-top: 10%;
}
button{
	color: lawngreen;
	background-color: darkcyan;
}